<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="form__title">Sign Up</h1>
  <p>Fill all the fields</p>

  <fieldset class="form__fieldset" formGroupName="account">
    <h2>Account</h2>
    <mat-form-field appearance="standard">
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="form.get('account.email')?.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <div formGroupName="passwords">
      <mat-form-field appearance="standard">
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <input matInput placeholder="Password" type="password" formControlName="confirmedPassword">
      </mat-form-field>
      <mat-error *ngIf="form.get('account.passwords')?.invalid" class="error-text">{{getErrorMessage()}}</mat-error>
    </div>
  </fieldset>

  <fieldset class="form__fieldset" formGroupName="profile">
    <h2>Profile</h2>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Name" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Phone" type="tel" formControlName="phone" mask="0(000) 000 0000">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="City" type="text" formControlName="city">
    </mat-form-field>
  </fieldset>

  <fieldset class="form__fieldset" formGroupName="company">
    <h2>Company</h2>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Name" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Ownership</mat-label>
      <mat-select formControlName="ownership">
        <mat-option value="one">Legal Entity</mat-option>
        <mat-option value="two">Individual Entrepreneur</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" placeholder="Taxpayer Identification Number (INN)" formControlName="inn">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" placeholder="Tax Registration Reason Code (KPP)" formControlName="kpp">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" placeholder="All-Russian Classifier of Entrepreneurs and Organizations (OKPO)" formControlName="okpo">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Date" type="date" formControlName="date">
    </mat-form-field>
  </fieldset>

  <fieldset class="form__fieldset" formGroupName="contacts">
    <h2>Contacts</h2>
    <mat-form-field appearance="standard">
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" formControlName="job">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="tel" formControlName="phone">
    </mat-form-field>
  </fieldset>

  <div class="form__add-contacts-container">
    <h2>Contacts</h2>
    <button type="button" mat-stroked-button>Add contact</button>
  </div>
  <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Sign up</button>
</form>

