<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="form__title">Sign Up</h1>
  <p>Fill all the fields</p>

  <fieldset class="form__fieldset" formGroupName="account">
    <h2>Account</h2>
    <mat-form-field appearance="standard">
      <input matInput type="email" formControlName="email" required>
<!--      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Password" type="password" formControlName="password" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Password" type="password" formControlName="password" required>
    </mat-form-field>
  </fieldset>

  <fieldset class="form__fieldset" formGroupName="profile">
    <h2>Profile</h2>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Name" type="text">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Phone" type="tel">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="City" type="text">
    </mat-form-field>
  </fieldset>

  <fieldset class="form__fieldset">
    <h2>Company</h2>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Name" type="text" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Ownership</mat-label>
      <mat-select required>
        <mat-option value="one">Legal Entity</mat-option>
        <mat-option value="two">Individual Entrepreneur</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" placeholder="Taxpayer Identification Number (INN)" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" placeholder="Tax Registration Reason Code (KPP)" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="text" placeholder="All-Russian Classifier of Entrepreneurs and Organizations (OKPO)" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Date" type="date">
    </mat-form-field>
  </fieldset>

  <fieldset class="form__fieldset">
    <h2>Contacts</h2>
    <mat-form-field appearance="standard">
      <input matInput value="Name" type="text">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput value="Job Title" type="text">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput value="Phone" type="tel">
    </mat-form-field>
  </fieldset>

  <div class="form__add-contacts-container">
    <h2>Contacts</h2>
    <button type="button" mat-stroked-button>Add contact</button>
  </div>
  <button type="submit" mat-flat-button color="primary">Sign up</button>
</form>

