<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="form__title">Sign Up</h1>
  <p>Fill-in all the fields</p>

  <fieldset class="form__fieldset" formGroupName="account">
    <h2>Account</h2>
    <mat-form-field appearance="standard">
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="form.get('account.email')?.hasError('required')">
        {{ ValidationErrorTexts.NO_VALUE }}
      </mat-error>
      <mat-error *ngIf="form.get('account.email')?.invalid && !form.get('account.email')?.hasError('required')">
        {{ ValidationErrorTexts.EMAIL_NOT_VALID }}
      </mat-error>
    </mat-form-field>
    <div formGroupName="passwords">
      <mat-form-field appearance="standard">
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error
          *ngIf="form.get('account.passwords.password')?.hasError('required')">
          {{ ValidationErrorTexts.NO_VALUE }}
        </mat-error>
        <mat-error
          *ngIf="form.get('account.passwords.password')?.errors?.minlength
          && !form.get('account.passwords.password')?.hasError('required')"
        >
          {{ ValidationErrorTexts.PASSWORD_MINLENGTH }}
        </mat-error>
        <mat-error *ngIf="form.get('account.passwords.password')?.invalid
        && !form.get('account.passwords.password')?.hasError('required')
        && !form.get('account.passwords.password')?.errors?.minlength"
        >
          {{ ValidationErrorTexts.PASSWORD_NOT_VALID }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <input matInput placeholder="Password" type="password" formControlName="confirmedPassword">
        <mat-error
          *ngIf="form.get('account.passwords.confirmedPassword')?.hasError('required')">
          {{ ValidationErrorTexts.NO_VALUE }}
        </mat-error>
        <mat-error
          *ngIf="form.get('account.passwords.confirmedPassword')?.errors?.minlength
          && !form.get('account.passwords.confirmedPassword')?.hasError('required')"
        >
          {{ ValidationErrorTexts.PASSWORD_MINLENGTH }}
        </mat-error>
        <mat-error *ngIf="form.get('account.passwords.confirmedPassword')?.invalid
        && !form.get('account.passwords.confirmedPassword')?.hasError('required')
        && !form.get('account.passwords.confirmedPassword')?.errors?.minlength"
        >
          {{ ValidationErrorTexts.PASSWORD_NOT_VALID }}
        </mat-error>
      </mat-form-field>
      <mat-error
        *ngIf="form.get('account.passwords')?.hasError('isNotEqual')
        && !this.form.get('account.passwords.confirmedPassword')?.invalid"
        class="error-text"
      >
        {{ ValidationErrorTexts.PASSWORDS_NOT_EQUAL }}
      </mat-error>
    </div>
  </fieldset>
  <!--  <pre>{{form.get('account.passwords.password')?.errors | json}}</pre>-->

  <fieldset class="form__fieldset" formGroupName="profile">
    <h2>Profile</h2>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Name" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Phone" type="tel" formControlName="phone" mask="0(000) 000 0000">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="City" type="text" formControlName="city">
    </mat-form-field>
  </fieldset>

  <!--  <pre>{{form.invalid | json}}</pre>-->

  <fieldset class="form__fieldset" formGroupName="company">
    <h2>Company</h2>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Name" type="text" formControlName="name">
      <mat-error *ngIf="form.get('company.name')?.hasError('required')">
        {{ ValidationErrorTexts.NO_VALUE }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Ownership</mat-label>
      <mat-select formControlName="ownership">
        <mat-option
          [value]="CompanyTypes.LEGAL_ENTITY">{{CompanyTypesDisplayName[CompanyTypes.LEGAL_ENTITY]}}</mat-option>
        <mat-option
          [value]="CompanyTypes.INDIVIDUAL_ENTREPRENEUR">{{CompanyTypesDisplayName[CompanyTypes.INDIVIDUAL_ENTREPRENEUR]}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('company.ownership')?.hasError('required')">
        {{ ValidationErrorTexts.NO_VALUE }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="number" placeholder="Taxpayer Identification Number (INN)" formControlName="inn">
      <mat-error *ngIf="form.get('company.inn')?.hasError('required')">
        {{ ValidationErrorTexts.NO_VALUE }}
      </mat-error>
      <mat-error *ngIf="form.get('company.inn')?.errors?.pattern?.requiredPattern">
        {{ ValidationErrorTexts.INN_MINLENGTH }}
      </mat-error>
      <mat-error
        *ngIf="form.get('company.inn')?.invalid
          && !form.get('company.inn')?.hasError('required')
          && !form.get('company.inn')?.errors?.pattern?.requiredPattern"
      >
        {{ ValidationErrorTexts.INN_NOT_VALID }}
      </mat-error>

    </mat-form-field>
    <!--    <pre>{{form.get('company.inn')?.errors | json}}</pre>-->

    <mat-form-field *ngIf="form.value.company.ownership !== CompanyTypes.INDIVIDUAL_ENTREPRENEUR" appearance="standard">
      <input matInput type="number" placeholder="Tax Registration Reason Code (KPP)" formControlName="kpp">
      <mat-error *ngIf="form.get('company.kpp')?.hasError('required')">
        {{ ValidationErrorTexts.NO_VALUE }}
      </mat-error>
      <mat-error *ngIf="form.get('company.kpp')?.errors?.pattern?.requiredPattern">
        {{ ValidationErrorTexts.KPP_MINLENGTH }}
      </mat-error>
      <mat-error
        *ngIf="form.get('company.kpp')?.invalid
        && !form.get('company.kpp')?.hasError('required')
        && !form.get('company.kpp')?.errors?.pattern?.requiredPattern"
      >
        {{ ValidationErrorTexts.INN_NOT_VALID }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput type="number" placeholder="All-Russian Classifier of Entrepreneurs and Organizations (OKPO)"
             formControlName="okpo" value="All-Russian Classifier of Entrepreneurs and Organizations (OKPO)">
      <mat-error *ngIf="form.get('company.okpo')?.invalid">{{getOkpoErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Date" type="date" formControlName="date">
    </mat-form-field>
  </fieldset>

  <ng-container formArrayName="contacts">
    <fieldset class="form__fieldset" *ngFor="let _ of contacts.controls; index as i">
      <h2>Contacts</h2>
      <ng-container [formGroupName]="i">
        <mat-form-field appearance="standard">
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="form.get('contacts.' + i + '.name')?.invalid">{{getContactsNameErrorMessage(i)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input matInput type="text" formControlName="job">
          <mat-error *ngIf="form.get('contacts.' + i + '.job')?.invalid">{{getContactsJobErrorMessage(i)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input matInput placeholder="Phone" type="tel" formControlName="phone" mask="0(000) 000 0000">
          <mat-error
            *ngIf="form.get('contacts.' + i + '.phone')?.invalid">{{getContactsPhoneErrorMessage(i)}}</mat-error>
        </mat-form-field>
      </ng-container>
    </fieldset>
  </ng-container>

  <div class="form__add-contacts-container">
    <h2>Contacts</h2>
    <button type="button" mat-stroked-button (click)="addContact()">Add contact</button>
  </div>
  <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Sign up</button>
</form>

